
.wrapper {
    align-self: center;
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    margin: auto;
}
.wrapper span,
.wrapper button {
    display: block;
}
.wrapper span {
    color: #fff;
    font-size: 3.75rem;
    text-transform: uppercase;
}
.wrapper button {
    background: none;
    border: 3px solid #fff;
    padding: 10px 20px;
    cursor: pointer;
    color: #fff;
    font-size: 2.25rem;
    margin-top: 10px;
    outline: none;
}